<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>IntraDef</title>
</head>
<body>
    <aside>
        <p><b>Target : {{ ip }} </b></p>
        <img src="{{ url_for('static', filename='logo/pouet.png') }}" alt="Logo" class="logo">        
        <h1>Menu</h1>
        <ul>
            <li><a href="{{ url_for('accueil') }}" style="color: #fff; text-decoration: none;">Accueil</a></li>
            <br>
            <li><a href="{{ url_for('graphique') }}" style="color: #fff; text-decoration: none;">Graphique</a></li>
            <br>
            <li><a href="{{ url_for('tableau') }}" style="color: #fff; text-decoration: none;">Tableau</a></li>
        </ul>
    </aside>
    <h1>Bienvenue sur IntraDef</h1>

</body>
    <span class="pouet">
        <p> <u> <b> Protégez leurs SI</b></u></p>
    </span>
</html>
